@model IEnumerable<CRUD_Alumnos.Models.Alumno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Create New", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @{
                    if (item.Sexo == "M" || item.Sexo == "m")
                    {
                        <text>Masculino</text>
                    }
                    else
                    {
                        <text>Femenino</text>
                    }
                }
            </td>
            <td>
                @CRUD_Alumnos.Controllers.AlumnoController.NombreCiudad(item.IdCiudad)
            </td>
            <td>
                @item.FechaRegistro.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "aEliminar" })
            </td>
        </tr>
    }

</table>

@section scripts
    {
    <script>
        $(".aEliminar").click(function (event) {
            if (!confirm('Realmente desea eliminar?')) {
                event.preventDefault();
            }
        })

    </script>

}
